@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --padding-container:100px 0;
    --color-title: #001A49;
}
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width:90%;
    max-width:1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows:100px 1rf;
    color: #fff;
}
.hero ::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(100deg, #7574744f 0%, #1a1a1a 100%), url('../IMG/1.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0 80%);
    z-index: -1;
}

.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title{
    font-weight: 300;
}

.nav__link{
    color:#fff;
    text-decoration: none;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show, none);
}

.container-bar{
    width: 100%;
    max-width: 55px;
    position: fixed;
    left: 0;
    top: 25%;
}

.container-bar a{
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    transition: all 500ms ease;
    color: #fff;
}

.container-bar a:hover{
    background: #1c1c1c;
}

.container-bar .icon-facebook{
    background: #3b5998;
    border-radius: 0px 5px 0px 0px;
}

.container-bar .icon-linkedin{
    background: #0e76a8 ;
    border-radius: 0px 5px 0px 0px;
}


.container-bar .icon-behance{
    background: blue ;
    border-radius: 0px 5px 0px 0px;
}


.container-bar .icon-instagram{
    background: -moz-linear-gradient(144deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 61%, rgba(252,176,69,1) 100%);
    background: -webkit-linear-gradient(144deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 61%, rgba(252,176,69,1) 100%);
    background: linear-gradient(144deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 61%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
    border-radius: 0px 5px 0px 0px;
}

.container-bar #title{
    position: fixed;
    background: "1c1c1c";
    padding: 6px;
    border-radius: 3px;
    font-size: 15px;
    margin-top: -4px;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;

}



